body {
    width: 100%;
    background: rgb(192, 34, 34);
    margin: 0 auto;
    padding: 0;
    border: 1px solid grey;
    overflow-x: hidden;
}
img {
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
    margin: 0 auto;
}
.container {
    display: grid
}
header {
    /* border: 1px solid black; */
    margin: 10px;
    /* display: grid; */
    /* grid-template-columns: repeat(4,1fr); */
    /* padding: 20px; */
    /* width: 100%; */
}

a {
    text-decoration: none;
    color: #3fd;
    font-size: 20px;
    border: 1px solid #3fd;
    padding: 20px;
    display: block;
}

@media screen and (min-width: 650px) {
    a {
        display: inline;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(300px, 1fr);
    grid-template-areas: 
        "header header header"
        "main main aside"
        "img img img"
        "img4 content content"
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    aside {
        grid-area: aside;
    }
    section {
        grid-area: img;
    }
}